.banner {
  position: relative;
  padding: 198px 0 277px;

  @media (max-width: $to-desktop-width) {
    padding: 219px 0 276px;
  }

  @media (max-width: $to-tablet-width) {
    padding: 133px 0 159px;
  }
}

.banner h1 {
  margin: 0;
  margin-bottom: 13px;
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
  color: $white-text;

  @media (max-width: $to-desktop-width) {
    margin-bottom: 12px;
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $to-tablet-width) {
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 45px;
  }
}

.banner p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: $white-text;

  @media (max-width: $to-desktop-width) {
    font-size: 18px;
    line-height: 21px;
  }

  @media (max-width: $to-tablet-width) {
    width: 199px;
    font-size: 16px;
    line-height: 22px;
  }
}

.banner h1,
.banner p {
  padding-left: 95px;

  @media (max-width: $to-desktop-width) {
    padding-left: 0;
  }
}
