.main-nav {
  position: relative;
  display: grid;
  grid-template-columns: 45px 1fr;
  align-items: center;
}

.main-nav__block {
  margin-left: auto;
}

.main-nav__toggle {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.main-nav--closed .main-nav__toggle::before {
  @media (max-width: $to-tablet-width) {
    content: "";
    position: absolute;
    top: 11px;
    right: 1px;
    width: 24px;
    height: 2px;
    background-color: $white-text;
    box-shadow: 0 6px 0 0 $white-text, 0 -6px 0 0 $white-text;
  }
}

.main-nav--closed {
  @media (min-width: $tablet-width) {
    .main-nav__toggle {
      display: none;
    }
  }

  @media (max-width: $to-tablet-width) {
    .main-nav__wrapper {
      display: none;
    }
  }
}

.main-nav--nojs .main-nav__wrapper {
  @media (max-width: $to-tablet-width) {
    position: relative;
    display: block;
    padding: 60px 30px;
    top: -42px;
    left: -14px;
    background-color: $white-text;
    min-width: 100vw;
    min-height: 568px;
  }
}

.main-nav--nojs .main-nav__toggle,
.main-nav--nojs .main-nav__logo {
  @media (max-width: $to-tablet-width) {
    display: none;
  }
}

.main-nav--opened {
  @media (max-width: $to-tablet-width) {
    position: absolute;
    top: 0;
    right: -21px;
    min-height: 568px;
    min-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

.main-nav--opened .main-nav__toggle {
  @media (max-width: $to-tablet-width) {
    position: absolute;
    // top: 1px;
    // right: -3px;
    top: 21px;
    right: 33px;
    width: 20px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 4;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 18px;
    height: 2px;
    background-color: $dark-text;
    z-index: 5;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__logo {
  width: 70px;
  height: 38px;
  z-index: 2;

  @media (max-width: $to-desktop-width) {
    width: 38px;
    height: 20px;
  }

  @media (max-width: $to-tablet-width) {
    width: 42px;
    height: 22px;
  }
}

.main-nav__logo-popup {
  display: none;
}

.main-nav--opened .main-nav__logo {
  z-index: -2;
}

.main-nav--opened .main-nav__logo-popup {
  display: block;
  position: absolute;
  // top: 0;
  // left: 40px;
  top: 20px;
  left: 29px;
  z-index: 5;
}

.main-nav__shadow-back {
  background: $bg-back-menu;
  z-index: 2;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

.main-nav__shadow-back-on {
  display: block;
}

.main-nav__wrapper {
  @media (max-width: $to-tablet-width) {
    &--show {
      position: absolute;
      top: -19px;
      right: -14px;
      margin-left: auto;
      // padding-top: 83px;
      padding-top: 103px;
      padding-right: 30px;
      padding-left: 25px;
      min-width: 100%;
      // min-height: 568px;
      min-height: 587px;
      background-color: $white-text;
      z-index: 3;
    }
  }
}

.main-nav__wrapper ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 33px;
  row-gap: 15px;
  margin: 0;
  list-style: none;

  @media (max-width: $tablet-width) {
    column-gap: 23px;
  }

  @media (max-width: $to-tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    min-height: 578px;
    overflow: scroll;
  }
}

.main-nav__wrapper li {
  @media (max-width: $to-tablet-width) {
    // margin-bottom: 28px;
    margin-bottom: 13px;
  }
}

.main-nav__wrapper a {
  font-size: 16px;
  font-weight: 500;
  color: $white-text;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  @media (max-width: $to-desktop-width) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $to-tablet-width) {
    font-size: 18px;
    line-height: 22px;
    color: $dark-text;

    &:hover,
    &:focus {
      text-shadow: 0 0 3px $color-hover;
      opacity: 1;
    }
  }
}
