.page-header {
  position: relative;
  padding: 0 103px;
  padding-top: 35px;
  background: $bg-banner url("../img/background/bg-banner-desk.jpg") no-repeat
    center top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-banner-desk@2x.jpg");
    background-size: cover;
  }

  @media (max-width: $to-desktop-width) {
    padding: 0 45px;
    padding-top: 30px;
    background: url("../img/background/bg-banner-tab.jpg") no-repeat center top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-banner-tab@2x.jpg");
      background-size: cover;
    }
  }

  @media (max-width: $to-tablet-width) {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    background: url("../img/background/bg-banner-mob.jpg") no-repeat center top;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-banner-mob@2x.jpg");
      background-size: cover;
    }
  }
}
