// Viewports

$desktop-width: 1160px;
$to-desktop-width: 1023px;
$tablet-width: 768px;
$to-tablet-width: 767px;
$mobile-width: 320px;

// Colors

$bg-banner: rgba(26, 82, 140, 1);
$bg-advantages: rgba(206, 223, 238, 1);
$white-text: rgba(249, 251, 253, 1);
$dark-text: rgba(1, 28, 64, 1);
$light-gray-text: rgba(216, 216, 217,1);
